
//@theme "/nix/store/ji75l4dfxnr9f45s1pxkhc14f12sfrnr-rofi-1.7.5+wayland3/share/rofi/themes/android_notification.rasi"

//@theme "/home/amogh/.config/rofi/themes/catppuccin-mocha.rasi"

@theme "/home/amogh/.config/rofi/themes/gruvbox-dark-soft.rasi"
